body {
	background-color: lightseagreen;
}

.jumboMain {
	background-image: url("assets/images/backgroundimage.jpeg");
	text-align: center;
}


#gameName {
	text-align: center;
}

#beginGame {
	background-color: green;
}


#startOverBtn {
	padding: "30px";
	font-size: "20px";
}